.card {
    width: 150px;
    height: 225px;
    background-color: transparent;
    perspective: 1000px;
}

.inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    overflow: hidden;
}

.front, .flip {
    transform: rotateY(180deg);
}

.front {
    background-color: #fff;
    transition: filter 1s;
}

.back {
    background-color: #000000;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #0d0d0e 25%, transparent 25%), linear-gradient(225deg, #0d0d0e 25%, transparent 25%), linear-gradient(45deg, #0d0d0e 25%, transparent 25%), linear-gradient(315deg, #0d0d0e 25%, #000000 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}