@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,div {
    height:100%;
    width:100%;
}

body {
    background: #242532;
    color: #fff;
    font-family: 'Rubik', serif;
}

.header {
    width: 100%;
    height: 5rem;
    background: #121320;
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
}

svg {
    color:#fff;
}

.header-items {
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

.game {
    height: calc(100%-5rem);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
}

.boxx {
    background: #242532;
    max-width: 400px;
    width: auto;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px #00000080);
}

.card-list {
    max-width: 500px;
    justify-content: space-evenly;
    height: fit-content;
    gap: 1.5em;
    padding: 1.5em
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 8rem;
    height: 3rem;
}

.icon {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
}


#__nuxt > div, #__nuxt > header {
    display:none
}