@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,div {
    height:100%;
    width:100%;
    background: #242532;
    color: #fff;
    font-family: 'Rubik', serif;
}

header {
    width: 100%;
    height: 9%;
    background: #121320;
}

.card-list {
    max-width: 500px;
    justify-content: space-around;
    gap: 7%;
    padding: 7%;
}

#__nuxt > div, #__nuxt > header {
    display:none
}